[submodule "3rdparty/finetrainers"]
	path = 3rdparty/finetrainers
	url = git@github.com:DarkSharpness/finetrainers.git
    branch = hw
[submodule "3rdparty/AveMujica"]
	path = 3rdparty/AveMujica
	url = git@github.com:serser322/ave-mujica-images.git
	commit = bbce0c77a9218934a421e1277a4f05884a3aac9f
